@import '../../styles/scss/reset';
@import '../../styles/scss/fonts';
/* @import '../main/main.scss'; */


/*    GLOBAL    */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
  background-color: #fff;
}


/*   HEADER   */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.header__container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  h1 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
    margin: 0 0 10px 0;
  }

  .logo__span {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
  }
}

.navigation {
  ul {
    display: flex;
  }

  li:not(:last-child) {
    padding-right: 35px;
  }

  a {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    &:hover {
      border-bottom: 3px solid #F1CDB3;
      padding-bottom: 6px;
      transition: 0.2s;
    }
  }


  .active-link {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 6px;
  }
}

/*    MAIN    */

button {
  margin-top: 42px;
  border: none;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  cursor: pointer;
  &:hover {
    filter: brightness(105%);
    transition: 0.2s;
  }

  a {
    font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  }
}

p {
  padding-top: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

h3 {
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

main {
  margin-top: 30px;
  background: #F6F6F6;
  height: 1342px;
  h3 {
    padding-top: 80px;
    text-align: center;
  }
}

.pets__content {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px 40px;
}

.card__pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  &:hover {
    transition: 0.3s;
  }
  
  p {
    padding-top: 42px;
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }

  .button__pets {
    margin-top: 42px;
    border: none;
    width: 207px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: #Fff;
    border-radius: 100px;
    font-size: 17px;
    &:hover {
      border: none;
      background: #F1CDB3;
    }
  }

  &:hover {
    cursor: pointer;
    .button__pets {
      background-color: #F1CDB3;
    }
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    
  }
}


.button__round {
  background-color: inherit;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background-color: #F1CDB3;;
    
  }
  &--incative {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;

    &:hover {
      color: #000;
      border: 2px solid #F1CDB3;
    }

  }
}









/*   FOOTER    */

.footer-wrap {
  background: url(/assets/images/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.footer {

  padding-top: 40px;
  height: 350px;
  display: flex;
  justify-content: space-between;

  h3 {
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }

  a {
    color: #F1CDB3;;
  }
  h4 {
    color: #F1CDB3;
    font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  }

  .to-flex, a {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mail, .boston {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.contacts {
  width: 279px;
}

.locations {
  width: 302px;
}