@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/ArialMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* 

@media (max-width: $mobile) {

} 

*/
/*    GLOBAL    */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
  background-color: #fff;
}

/*   HEADER   */
.header {
  z-index: 4;
  height: 120px;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container {
  margin: 0 auto;
  padding: 0 5px 0 22px;
  max-width: 1230px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px 0 10px;
  }
}

.header__container {
  padding-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo h1 {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #545454;
  margin: 0 0 10px 0;
  letter-spacing: 0.06em;
}

.logo .logo__span {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.11em;
  color: #292929;
}

.navigation {
  padding-bottom: 10px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation li:not(:last-child) {
  padding-right: 35px;
}

.navigation a {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.navigation a:hover {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation .active-link {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 6px;
}

.navigation__logo {
  display: none;
}

@media (max-width: 767px) {
  nav {
    z-index: 15;
    position: fixed;
    width: 320px;
    height: 100%;
    overflow: scroll;
    top: 0;
    right: -400px;
    background: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navigation__logo {
    display: block;
    z-index: 15;
    margin: 30px 0 0 10px;
  }
  ul {
    padding-top: 158px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation li:not(:last-child) {
    padding-right: 0;
    padding-bottom: 40px;
  }
  .navigation a {
    font-size: 32px;
  }
}

.menu-burger {
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  .menu-burger {
    display: block;
    z-index: 15;
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    margin: 7px 43px 0 0;
  }
  .menu-burger::before, .menu-burger::after,
  .menu-burger span {
    left: 0;
    height: 10%;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu-burger::before, .menu-burger::after {
    content: '';
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}

/*    MAIN    */
main {
  padding-top: 30px;
  background: #F6F6F6;
  height: 1342px;
}

main h3 {
  padding-top: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  main h3 {
    padding-top: 12px;
  }
}

main button {
  border: none;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  cursor: pointer;
}

main button:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main button a {
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

@media (max-width: 1279px) {
  main {
    height: 1733px;
  }
}

@media (max-width: 767px) {
  main {
    height: 1649px;
  }
}

p {
  padding-top: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

h3 {
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@media (max-width: 767px) {
  h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

.pets__content {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 40px;
}

@media (max-width: 1279px) {
  .pets__content {
    padding-top: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 64px 0;
  }
}

@media (max-width: 767px) {
  .pets__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    padding-top: 42px;
  }
}

.card__pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  width: 270px;
  height: 435px;
  border-radius: 9px;
}

.card__pets:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__pets p {
  padding-top: 30px;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.card__pets .button__pets {
  margin-top: 30px;
  border: none;
  width: 190px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  border-radius: 100px;
  font-size: 17px;
}

.card__pets .button__pets:hover {
  border: none;
  background: #F1CDB3;
}

.card__pets:hover {
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__pets:hover .button__pets {
  background-color: #F1CDB3;
}

@media (max-width: 1279px) {
  .card__pets:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .card__pets:nth-last-child(-n+5) {
    display: none;
  }
}

.pets__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-top: 60px;
}

@media (max-width: 1279px) {
  .pets__nav {
    margin-top: 30px;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .pets__nav {
    gap: 10px;
  }
}

.button__round {
  background-color: inherit;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.button__round:hover {
  background-color: #F1CDB3;
}

.button__round--incative {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  cursor: default;
}

.button__round--incative:hover {
  background-color: inherit;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.button__round--active {
  background-color: #F1CDB3;
  cursor: default;
}

.button__round--active:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

@media (max-width: 1279px) {
  .button__round {
    margin-top: 10px;
  }
}

/*   FOOTER    */
.footer-wrap {
  background: url(../../assets/images/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer {
  padding-top: 40px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer {
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 639px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 809px;
  }
  .footer .footer-dog {
    width: 260px;
    height: 269px;
    margin-top: 40px;
  }
  .footer h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 160px;
}

@media (max-width: 1279px) {
  .footer .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

.footer h3 {
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer a {
  color: #F1CDB3;
}

.footer h4 {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer .to-flex,
.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.contacts {
  padding-top: 16px;
  width: 279px;
}

.contacts .mail {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.locations {
  padding-top: 16px;
  width: 302px;
}

.locations .boston {
  padding-top: 31px;
  padding-bottom: 33px;
}

@media (max-width: 767px) {
  .locations {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locations h3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .locations .boston {
    padding-top: 37px;
    padding-bottom: 40px;
  }
}

._active {
  right: 0;
}

._lock {
  overflow: hidden;
}

._blackout-active {
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

._blackout-popup-active {
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

._blackout-popup-active:hover {
  cursor: pointer;
}

/*     PETS MODAL    */
._modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets__modal {
  display: none;
  position: fixed;
  z-index: 10;
  height: 500px;
  width: 900px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 9px;
}

.pets__modal .content {
  padding: 50px 20px 0 29px;
}

.pets__modal ul {
  padding-top: 40px;
  padding-left: 1em;
}

.pets__modal ul li::before {
  content: "•";
  color: #F1CDB3;
  position: absolute;
  width: 1em;
  margin-left: -1em;
  margin-bottom: -1em;
}

.pets__modal ul h5 {
  margin-top: 10px;
}

.pets__modal .btn-close {
  position: fixed;
  right: -8%;
  top: -5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/icons/cross.svg);
}

.pets__modal .btn-close:hover {
  background-color: #F1CDB3;
  cursor: pointer;
}

.pets__modal h3 {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  text-align: start;
}

.pets__modal h4 {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 40px;
}

.pets__modal h5 {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
/*# sourceMappingURL=pets.css.map */