@import '../../styles/scss/reset';
@import '../../styles/scss/fonts';

/*    GLOBAL    */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
  color: #fff;
  background: url(/assets/images/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}


/* HEADER */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.header__container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  h1 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    margin: 0 0 10px 0;
  }

  .logo__span {
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
  }
}

.navigation {
  ul {
    display: flex;
  }

  li:not(:last-child) {
    padding-right: 35px;
  }

  a {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
  }

  .active-link {
    color: #fff;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 6px;
  }
}

/*    MAIN    */

h2 {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.start {
  height: 728px;

  .start__box {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  .start__content {
    width: 460px;
    padding-top: 163px;
  }

  p {
    color: #CDCDCD;
  }
}

button {
  margin-top: 42px;
  border: none;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  cursor: pointer;

  a {
    font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  }
}



p {
  padding-top: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/*    ABOUT    */

.body-wrapper-white {
  background-color: #fff;
}

.about {
  padding-top: 80px;
  height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;

  .about__content {
    width: 430px;
  }

  p {
    color: #4C4C4C;
  }
}

h3 {
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

/*     PETS     */

.body-wrapper-grey {
  background-color: #F6F6F6;
}

.pets {
  padding-top: 80px;
  height: 877px;

  h3 {
    text-align: center;
  }

  .button__pets {
    margin-top: 42px;
    border: none;
    width: 207px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: #Fff;
    border-radius: 100px;
    font-size: 17px;
    &:hover {
      border: none;
      background: #F1CDB3;
    }
  }
}

.slider__pets {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button__round {
  background-color: inherit;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    background-color: #F1CDB3;;
  }
  &--left {
    background-image: url(/assets/icons/Arrow.svg);
  }
  &--right {
    background-image: url(/assets/icons/Arrow.svg);
    transform: scaleX(-1);
  }
}


.card__pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  width: 270px;
  height: 435px;
  border-radius: 9px;

  p {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }

  &:hover {
    cursor: pointer;
    .button__pets {
      background-color: #F1CDB3;
    }
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

  }
}

.button-under-pets {
  width: 261px;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}

/*   HELP   */


.help {
  height: 611px;

  h3 {
    padding-top: 80px;
    text-align: center;
  }
}

.list__help {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;

  .list__item {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    padding-top: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
  }
}

/*    DONATION    */

.donation {
  height: 462px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 80px;
}

.donation__content {
  width: 380px;

  .credit-card {
    margin-top: 20px;
    display: block;
    color: #545454;
    border: none;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 100px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding-right: 15px;
    }
  }

  h4 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
  }

  p {
    padding-top: 20px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
  }
}

h5 {
  margin-top: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}


/*   FOOTER    */

.footer {
  padding-top: 40px;
  height: 350px;
  display: flex;
  justify-content: space-between;

  h3 {
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }

  a {
    color: #F1CDB3;;
  }
  h4 {
    color: #F1CDB3;
    font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  }

  .to-flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mail, .boston {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.contacts {
  width: 279px;
}

.locations {
  width: 302px;
}