html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/ArialMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* 

@media (max-width: $mobile) {

} 

*/
/*    GLOBAL    */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia', serif;
  color: #fff;
  background: url(../../assets/images/gradient.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

/* HEADER */
.container {
  margin: 0 auto;
  padding: 0 5px 0 22px;
  max-width: 1230px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px 0 10px;
  }
}

.header__container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .header__container {
    margin-top: 30px;
  }
}

.logo h1 {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  margin: 0 0 10px 0;
  letter-spacing: 0.06em;
}

.logo .logo__span {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.11em;
}

.navigation {
  padding-bottom: 10px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation li:not(:last-child) {
  padding-right: 35px;
}

.navigation a {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.navigation a:hover {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation .active-link {
  color: #fff;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 6px;
}

@media (max-width: 767px) {
  nav {
    display: none;
  }
}

.menu-burger {
  display: none;
  /*   @media (max-width: $tablet) {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;

    span,
    &::after,
    &::before {
      left: 0;
      position: absolute;
      height: 10%;
      transition: all 0.3s ease;
      background-color: #F1CDB3;
    }
  }  */
}

/*    MAIN    */
h2 {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

@media (max-width: 767px) {
  h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

.start {
  height: 728px;
}

@media (max-width: 1279px) {
  .start {
    height: 1015px;
  }
}

@media (max-width: 767px) {
  .start {
    height: 673px;
  }
}

.start .start__box {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .start .start__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 56px;
  }
  .start .start__box img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 100px;
    width: 569px;
    height: 593px;
  }
}

@media (max-width: 767px) {
  .start .start__box img {
    width: 260px;
    height: 271.77px;
    margin-top: 105px;
  }
}

.start .start__content {
  width: 460px;
}

@media (max-width: 1279px) {
  .start .start__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .start .start__content h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 767px) {
  .start .start__content {
    width: 100%;
    text-align: center;
  }
  .start .start__content h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.start p {
  color: #CDCDCD;
}

button {
  margin-top: 42px;
  border: none;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button a {
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.a-btn {
  padding: 15px 0;
  display: block;
  margin-top: 42px;
  border: none;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  font-size: 17px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.a-btn:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

p {
  padding-top: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/*    ABOUT    */
.body-wrapper-white {
  background-color: #fff;
}

.about {
  padding-top: 80px;
  height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  background-color: #fff;
}

@media (max-width: 1279px) {
  .about {
    height: 1048px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    gap: 0;
  }
  .about img {
    margin-top: 80px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .about {
    padding-top: 42px;
    height: 974px;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about img {
    margin-top: 42px;
    width: 260px;
    height: 353.6px;
  }
}

.about .about__content {
  padding-top: 15px;
  width: 430px;
}

@media (max-width: 1279px) {
  .about .about__content {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .about .about__content {
    width: 100%;
  }
  .about .about__content h3 {
    text-align: center;
  }
  .about .about__content p {
    padding: 25px 15px 0 15px;
    text-align: justify;
  }
  .about .about__content p:last-child {
    padding-top: 20px;
  }
}

.about p {
  padding-top: 24px;
  color: #4C4C4C;
}

h3 {
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@media (max-width: 767px) {
  h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

/*     PETS     */
.body-wrapper-grey {
  background-color: #F6F6F6;
}

.pets {
  padding-top: 80px;
  height: 877px;
}

.pets h3 {
  padding-left: 20px;
  text-align: center;
}

@media (max-width: 1279px) {
  .pets h3 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .pets {
    height: 791px;
    padding-top: 42px;
  }
}

.pets .button__pets {
  margin-top: 30px;
  border: none;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  background: #Fff;
  border-radius: 100px;
  font-size: 17px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.pets .button__pets:hover {
  border: none;
  background: #F1CDB3;
}

.slider__pets {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .slider__pets {
    padding-top: 42px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A A A" "B B C C";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button__round {
  margin-top: 0;
  background-color: inherit;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.button__round:hover {
  background-color: #F1CDB3;
}

.button__round--left {
  margin-left: 40px;
  background-image: url(../../assets/icons/Arrow.svg);
}

.button__round--right {
  margin-right: 20px;
  background-image: url(../../assets/icons/Arrow.svg);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 1279px) {
  .button__round--left {
    margin-left: 30px;
  }
  .button__round--right {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .button__round {
    margin: 0;
    margin-top: 20px;
  }
  .button__round--left {
    grid-area: B;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .button__round--right {
    grid-area: C;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.card__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

@media (max-width: 1279px) {
  .card__wrapp {
    gap: 40px;
  }
  .card__wrapp .card__pets:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .card__wrapp .card__pets:nth-last-child(-n+2) {
    display: none;
  }
}

@media (max-width: 767px) {
  .card__wrapp {
    gap: 0;
    grid-area: A;
  }
}

.card__pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  width: 270px;
  height: 435px;
  border-radius: 9px;
}

.card__pets:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__pets p {
  padding-top: 30px;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.card__pets:hover {
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card__pets:hover .button__pets {
  background-color: #F1CDB3;
}

.button-under-pets {
  width: 261px;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .button-under-pets {
    margin-top: 42px;
  }
}

/*   HELP   */
.help {
  height: 611px;
}

.help h3 {
  padding-top: 80px;
  text-align: center;
}

@media (max-width: 1279px) {
  .help {
    height: 779px;
  }
}

@media (max-width: 767px) {
  .help {
    height: 745px;
  }
  .help h3 {
    padding-top: 42px;
  }
}

.list__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 120px;
}

.list__help .list__item {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  .list__help .list__item {
    padding-top: 0;
  }
}

.list__help h4 {
  padding-top: 30px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 1279px) {
  .list__help {
    padding-top: 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 0;
  }
}

@media (max-width: 767px) {
  .list__help {
    padding-top: 42px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .list__help img {
    width: 50px;
    height: 50px;
  }
  .list__help h4 {
    padding-top: 20px;
    font-size: 15px;
    line-height: 110%;
  }
}

/*    DONATION    */
.donation {
  height: 462px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 80px;
}

.donation .donation-dog {
  margin-top: 10px;
}

@media (max-width: 1279px) {
  .donation {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 783px;
  }
  .donation .donation-dog {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .donation {
    padding-top: 42px;
    height: 542.2px;
  }
  .donation .donation-dog {
    margin-top: 12px;
    width: 260px;
    height: 135.2px;
  }
}

.donation__content {
  width: 380px;
}

.donation__content .credit-card {
  margin-top: 20px;
  display: block;
  color: #545454;
  border: none;
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation__content .credit-card img {
  padding-right: 15px;
}

.donation__content .credit-card:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.donation__content h4 {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__content p {
  padding-top: 20px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

@media (max-width: 767px) {
  .donation__content p {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    padding: 20px 10px 0 10px;
  }
}

@media (max-width: 767px) {
  .donation__content {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__content .credit-card {
    width: 281px;
    height: 43px;
    margin-top: 24px;
  }
  .donation__content .credit-card h4 {
    font-size: 15px;
    line-height: 110%;
  }
  .donation__content h5 {
    letter-spacing: normal;
    margin-top: 23px;
  }
}

h5 {
  margin-top: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

/*   FOOTER    */
.footer {
  padding-top: 40px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer {
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 639px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 809px;
  }
  .footer .footer-dog {
    width: 260px;
    height: 269px;
    margin-top: 40px;
  }
  .footer h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 160px;
}

@media (max-width: 1279px) {
  .footer .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

.footer h3 {
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer a {
  color: #F1CDB3;
}

.footer h4 {
  color: #F1CDB3;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer .to-flex,
.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.contacts {
  padding-top: 16px;
  width: 279px;
}

.contacts .mail {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.locations {
  padding-top: 16px;
  width: 302px;
}

.locations .boston {
  padding-top: 31px;
  padding-bottom: 33px;
}

@media (max-width: 767px) {
  .locations {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .locations h3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .locations .boston {
    padding-top: 37px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=main.css.map */